<ion-header translucent>
  <ion-toolbar>
    <ion-title>Track</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/orders"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf='order'>
  <ion-item>Order: {{order.orderId}}</ion-item>
  <ion-item>Latitude: {{order.lat}}</ion-item>
  <ion-item>Longtitude: {{order.long}}</ion-item>
  <ion-item>Delivery Time: {{order.time}}</ion-item>
  <ion-list>
    <ion-list-header>
      ITEMS
    </ion-list-header>
    <ion-item *ngFor='let item of order.items | keyvalue'>
      {{item.key}}: {{item.value}}
      
    </ion-item>
  </ion-list>
</ion-content>

