<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Item to Stock</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--<ion-content padding class="background">
  <ion-grid class="transbox" color="secondary">
    <ion-row justify-content-center>
        <ion-item>
            <ion-label>Item name</ion-label>
            <ion-select interface="popover" [(ngModel)]='item'>
              <ion-select-option value="Pork">Pork</ion-select-option>
              <ion-select-option value="Beef">Beef</ion-select-option>
              <ion-select-option value="Radish">Radish</ion-select-option>
              <ion-select-option value="Beetroot">Beetroot</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
              <ion-input required type='number' placeholder='Amount' [(ngModel)]='amount'></ion-input>
          </ion-item>
    </ion-row>
    <a class="btn" type='submit' (click)='login()' vertical="center">
        <span>Login!</span>
    </a> 
    <ion-row>

    </ion-row>
  </ion-grid>
</ion-content>-->


<ion-content padding class="background">
      <ion-grid class='transbox'>
  
        <ion-row justify-content-center>
          <ion-col align-self-center size-md='6' size-lg='5' size-xs='12'>
            <div padding>
                <ion-item>
                    <ion-title color="primary" >Item name</ion-title>
                    <ion-select interface="popover" [(ngModel)]='item'>
                      <ion-select-option value="Pork">Pork</ion-select-option>
                      <ion-select-option value="Beef">Beef</ion-select-option>
                      <ion-select-option value="Radish">Radish</ion-select-option>
                      <ion-select-option value="Beetroot">Beetroot</ion-select-option>
                    </ion-select>
                  </ion-item>
              <ion-item>
                  <ion-input color="primary" required type='number' placeholder='Amount' [(ngModel)]='amount'></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
  
        <ion-row>
            <p text-center>
                Recheck item name and number carefully before save!
            </p>
        </ion-row>
  
        <ion-row>
          <a class="btn" type='submit' (click)="saveStock()">
              <span>Save and Update</span>
          </a>        
        </ion-row>
        
      </ion-grid>
  </ion-content>

