<ion-header>
  <ion-toolbar>
    <ion-title>Add Stock</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-item>
    <ion-label>Item name</ion-label>
    <ion-select interface="popover" [(ngModel)]='item'>
      <ion-select-option value="Pork">Pork</ion-select-option>
      <ion-select-option value="Beef">Beef</ion-select-option>
      <ion-select-option value="Radish">Radish</ion-select-option>
      <ion-select-option value="Beetroot">Beetroot</ion-select-option>
    </ion-select>
  </ion-item>
    <ion-item>
      <ion-input required type='number' placeholder='Amount' [(ngModel)]='amount'></ion-input>
    </ion-item>

  


</ion-content>
<ion-fab horizontal='end' vertical='bottom'>

  <ion-fab-button (click)="saveStock()">Save</ion-fab-button>

</ion-fab>