<ion-header>
  <ion-toolbar color="primary">
    <ion-title>History</ion-title>
    <ion-buttons slot='start'>
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button slot='end' [routerLink]="['/filter']">filter</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor='let individualOrder of orders'>
    <ion-label>
      {{individualOrder.orderId}}
      <p>Latitude: {{individualOrder.lat}}</p>
      <p>Longtitude: {{individualOrder.long}}</p>
      <p>Items: </p>
      <p *ngFor='let items of individualOrder.items | keyvalue'>
        ○ {{items.key}}: {{items.value}}
      </p>
      <p>Time to delivery: {{individualOrder.time}}</p>
    </ion-label>


  </ion-item>
</ion-content>