<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Orders</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #mapElement class='map'></div>

  <div>
    <ion-item>
        <ion-title color="primary">Deliverd by</ion-title>
        <ion-select placeholder="Select Driver" [(ngModel)]='driver'>
          <ion-select-option value="A01">A01</ion-select-option>
          <ion-select-option value="A02">A02</ion-select-option>
        </ion-select>
    </ion-item>

  </div>

  <div *ngIf = "driver">
    <ion-button expand = "block" type="submit" (click) = "assignOrder()">
      Confirm
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-button>
  </div>
  
  <ion-list>
       
    <ion-item-sliding *ngFor = 'let item of intervalOrders'>
                   
      <ion-item lines='inset' button [routerLink]="['/tracking',item.id]" >
        <ion-label>
         {{item.orderId}}
          <p>Latitude:  {{item.lat}}</p>
          <p>Longtitude:  {{item.long}}</p>
          <p>Items: </p>
          <p *ngFor='let items of item.items | keyvalue'>
             ○ {{items.key}}: {{items.value}}
            </p>
          <p>Time to delivery:  {{item.time}}</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" horizontal="end"></ion-icon>
      </ion-item>

      <ion-item-options side='end'>
        <ion-item-option (click)="remove(item)" color="danger">
          Remove
          <ion-icon name="close-outline" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

    <!-- fab placed in the center of the content with a list on each side -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button >
          <ion-icon name="person"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
          <ion-chip routerLink="/driver" color="primary">
            <ion-title>View Driver Status</ion-title>
          </ion-chip>
        </ion-fab-list>
    </ion-fab>
</ion-content>
