<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    CP FreshMart Truck Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-button expand='full' routerLink="/orders">Go to Orders</ion-button>
  <!--<ion-button expand='full' routerLink="/add-order">Add Order</ion-button>-->
  <ion-button expand='full' routerLink="/order-with-dict">Add Order with dict</ion-button>
  <ion-button expand='full' routerLink="/add-stock">Add Stock</ion-button>
  
  <ion-button expand='full' routerLink="/stock">Stock</ion-button>
</ion-content>


