<ion-header>
  <ion-toolbar>
    <ion-title>Dropbox</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand='block' (click)="toDetail('boxA')">DropBox A</ion-button>
<ion-button expand='block' (click)="toDetail('boxB')">DropBox B</ion-button>
<ion-button expand='block' (click)="toDetail('boxC')">DropBox C</ion-button>
<ion-button expand='block' (click)="toDetail('boxD')">DropBox D</ion-button>
</ion-content>
