<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dropbox</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="secondary">
        <ion-item color="secondary">
          <ion-subtitle>DropBox A</ion-subtitle>
          <ion-button fill="outline" slot="end" (click)="toDetail('boxA')" >See orders</ion-button>
        </ion-item>
      
        <ion-card-content>
          hihi
        </ion-card-content>
    </ion-card>

    <ion-card color="secondary">
        <ion-item color="secondary">
          <ion-subtitle>DropBox B</ion-subtitle>
          <ion-button fill="outline" slot="end" (click)="toDetail('boxB')" >See orders</ion-button>
        </ion-item>
      
        <ion-card-content>
          hihi
        </ion-card-content>
    </ion-card>

    <ion-card color="secondary">
        <ion-item color="secondary">
          <ion-subtitle>DropBox C</ion-subtitle>
          <ion-button fill="outline" slot="end" (click)="toDetail('boxC')" >See orders</ion-button>
        </ion-item>
      
        <ion-card-content>
          hihi
        </ion-card-content>
    </ion-card>

    <ion-card color="secondary">
        <ion-item color="secondary">
          <ion-subtitle>DropBox D</ion-subtitle>
          <ion-button fill="outline" slot="end" (click)="toDetail('boxD')" >See orders</ion-button>
        </ion-item>
  
        <ion-card-content>
          hihi
        </ion-card-content>
    </ion-card>
</ion-content>
